name: CI - [Testing]
on:
  push:
    branches:
      - dev
      - staging
      - main
  pull_request:
    branches:
      - dev
      - staging
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    name: Testing on Virtual Environment
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    env:
      PORT: 5001
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

          # there might be a requirements.txt file,
          # but this file already exists in the project.
          # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest
